@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f5;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;  
  flex-direction: column; 
  align-items: center; 
}

h1 {
  color: #333;
  font-weight: 600;
  font-size: 2.5rem;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
  margin: 20px auto;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #f7f7fa;
  border: 3px solid #e0e0e5;
  border-radius: 10px;
  font-size: 2.5em;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cell:hover {
  background-color: #e0e5f7;
}

.X {
  color: #ff6b6b;
}

.O {
  color: #1c89f5;
}

.winning-message {
  display: none;
  padding: 20px;
  background-color: #ffffff;
  border: 2px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.winning-message.show {
  display: block;
}

#winning-message-text {
  font-size: 1.5rem;
  color: #333;
}

button {
  padding: 12px 25px;
  font-size: 1rem;
  border: none;
  background-color: #f0f0f0;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e3e3e3;
}

.hidden {
  display: none;
}

.copyright-content {
  margin-top: 20px; 
  font-size: 0.9em;
  color: #555; 
}

.copyright-content p {
  margin: 0; 
  font-size: 0.75rem;
}

.copyright-content a {
  color: #007BFF; 
  text-decoration: none; 
}

.copyright-content a:hover {
  text-decoration: underline; 
}
